.navbar {
    padding: 10px;
    background-color: #ece9e6;
}

.navbar-brand img {
  width: 80;  /* Permite que la imagen mantenga su proporción */
  height: auto; /* Mantiene la altura como la original */
  max-width: 100%; /* Evita que se agrande demasiado */
  object-fit: contain; /* Asegura que la imagen se ajuste sin deformarse */
  align-items: center;
}