<h2 class="text-center mb-4 colo-texto fw-bold ">Productos de Belleza</h2>
<hr>
    <!-- Lista de Productos -->
    <div *ngIf="mostrarLista" class="container">
      <div class="row">
        <div *ngFor="let producto of productos" class="col-lg-4 col-md-6 col-12 mb-4">
          <div class="card h-100 shadow-sm card-medicamento">
            <div class="row g-0 d-flex align-items-center">
              <div class="col-md-4 d-flex align-items-center justify-content-center">
                <img src="{{producto.foto}}" class="img-fluid rounded-start w-100 h-100 object-fit-cover" alt="Imagen de {{producto.nombre}}">
              </div>
              <div class="col-md-8">
                <div class="card-body text-center">
                  <h5 class="card-title">{{producto.nombre}}</h5>
                  <p class="text-muted small">{{producto.descripcion}}</p>
                  <p class="fw-bold text-primary"><small class="text-body-secondary">{{producto.precio | currency }}</small></p>
                  <p class="card-text"><small class="text-muted">Categoría: {{ producto.categoria }}</small></p>
                  <div class="d-flex justify-content-center gap-2">
                    <button class="btn btn-primary button-buy" (click)="editarProducto(producto)">Editar</button>
                    <button class="btn btn-danger button-buy" (click)="eliminarProducto(producto.id)">Eliminar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  

    <!-- Formulario de Edición -->
    <div class="col-md-12 mb-3 d-flex justify-content-center" *ngIf="productoSeleccionado">
        <div class="card p-4 shadow card-actualizar"style="width: 100%; max-width: 500px;" >
          <h3 class="card-title text-center">Actualizando a {{ productoSeleccionado.nombre }}</h3>
          <img [src]="productoSeleccionado.foto" alt="Previsualización" class="img-fluid mx-auto d-block mb-3" style="max-width: 200px;">
          <div *ngIf="!mostrarLista">
            <form (ngSubmit)="actualizarProducto()">
              <div class="mb-3">
                  <label for="productName" class="form-label">Nombre Producto</label>
                  <input type="text" class="form-control" id="productName"  name="nombre" [(ngModel)]="productoSeleccionado.nombre" placeholder="Ingrese el nombre del producto">
              </div>
              <label for="floatingTextarea2">Descripción</label>
              <div class="form-floating">
                <textarea class="form-control textarea" placeholder="Leave a comment here"  name="descripcion" [(ngModel)]="productoSeleccionado.descripcion" id="floatingTextarea2" style="height: 100px"></textarea>
              </div>
              <div class="mb-3">
                  <label for="productPrice" class="form-label">Precio Producto</label>
                  <input type="number" class="form-control" id="productPrice" name="precio" [(ngModel)]="productoSeleccionado.precio"   placeholder="Ingrese el precio del producto" min="0" step="0.0">
              </div>
              <div class="mb-3">
                  <label for="productStock" class="form-label">Cantidad</label>
                  <input type="number" class="form-control" id="productStock" name="cantidad" [(ngModel)]="productoSeleccionado.cantidad" placeholder="Ingrese la cantidad del producto en stock" min="0" step="1">
              </div>
                
              <div class="mb-3">
                <label for="categorySelect" class="form-label">Seleccione categoría</label>
                    <select id="categorySelect" name="categoria" [(ngModel)]="productoSeleccionado.categoria" class="form-select">
                      <option selected>Seleccione una categoría</option>
                      <option value="Medicamentos">Medicamentos</option>
                      <option value="Belleza">Belleza</option>
                      <option value="Suplementos">Suplementos</option>
                    </select>
              </div>
              <div class="mb-3">
                  <label for="urlImg" class="form-label">Url Imagen</label>
                  <input type="text" class="form-control" id="urlImg" name="foto" [(ngModel)]="productoSeleccionado.foto"  placeholder="Ingrese la url de la imagen">
              </div>
               <button type="submit" class="btn button-guardar me-3" (click)="actualizarProducto()">Guardar Cambios</button>
                <button type="button" class="btn button-guardar" (click)="cancelarEdicion()">Cancelar</button>
            </form>
          </div>
        </div>
    </div>
 

